.canvas {
    width: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.partners {
    background-color: red;
    width: 200px;
    height: 200px;
}

.activities {
    background-color: orange;
    width: 200px;
    height: 200px;
  }

.resources {
    background-color: yellow;
    width: 200px;
    height: 200px;
}

.propositions {
    background-color: green;
    width: 200px;
    height: 200px;
}

.relationships {
    background-color: blue;
    width: 200px;
    height: 200px;
}

.channels {
    background-color: indigo;
    width: 200px;
    height: 200px;
}

.segments {
    background-color: violet;
    width: 200px;
    height: 200px;
}

.structure {
    background-color: grey;
    width: 200px;
    height: 200px;
}

.streams {
    background-color: gold;
    width: 200px;
    height: 200px;
}